.signup-container {
  width: 50%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid #033e78;
  border-radius: 5px;
  padding: 3rem;
  font-size: medium;
  line-height: 120%;
}

.signup-container > h1 {
  margin-bottom: 2%;
}

.signup-link {
  font-size: large;
  color: #7953da;
  text-decoration-line: underline;
}

.signup-link:hover {
  color: #df7474;
  font-weight: bold;
}

.signup-input {
  width: 100%;
  border-radius: 5px;
  padding: 1.5% 1.5%;
  margin: 8px 0;
  border: 2px solid rgb(145, 167, 214);
  font-size: medium;
}
