.section-best-top {
  width: 70%;
  margin: 12rem auto 0;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid rgb(210, 26, 26); */
}

.best,
.sold-out {
  align-items: center;
  justify-content: center;
}

.best-top-container {
  height: 40rem;
  text-align: center;
  /* border: 2px solid black; */
}

.section-best-top > * {
  flex-basis: 45%;
}

.section-best-top img {
  width: 25rem;
  object-fit: cover;
}
