.login-container {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid #033E78;
  border-radius: 5px;
  padding: 3rem;
  font-size: large;
  line-height: 180%;
}

.login-container > h1 {
  align-items: center;
}

.login-container > button {
  font-size: large;
}

.signup-container {
  top: 60%;
}

.login-label {
  text-align: left;
  padding: 0.25rem;
  font-weight: bold;
  margin: 0 0 2rem;
}

.warn {
  color: #d90808;
}

.suc {
  color: #16e279;
}

.login-input {
  width: 100%;
  border-radius: 5px;
  padding: 2% 2%;
  margin: 8px 0;
  border: 2px solid rgb(145, 167, 214);
  font-size: large;
}

.login-input:focus {
  border: 2px solid rgb(145, 167, 214);
  /* background-color: #efefef; */
}

.login-link {
  color: #7953da;
  font-size: 100%;
  text-decoration-line: underline;
}

.login-link:hover {
  color: #df7474;
  font-weight: bold;
  /* transform: translate(-50%, -50%); */
}