/* ---------------------- */
/* Navigation Bar Styles */
/* ---------------------- */
.nav {
  flex:1;
  background-color: rgb(3, 62, 120);
  padding: 2rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}

@media (max-width: 768px) { /* iPhone size or smaller screens */
  .nav {
    display: grid;
    grid: 40px / auto;
  }
  .nav-logo  {
    font-size: auto;
    font-weight: normal;
    height: 100%;
    flex: none;
  }

  .nav-list {
    font-size: small;
    flex: none;
    justify-content: left;
    align-items: left;
  }
  .nav-items {
    padding: 0.2px 0.5;
    border-bottom: dashed 1px rgb(214, 207, 255);
    transition: 0.3s linear;
    flex: none;
  }
}

.nav-logo {
  font-size: 3rem;
  font-weight: 700;
  flex-grow: 2;
}

.nav-list {
  width: auto;
  font-size: auto;
  flex-grow: 8;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.nav-items {
  margin-right: 2rem;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 1rem;
  border-bottom: solid 2px transparent;
  transition: 0.3s linear;
  /* border:solid 1px  #ffd98d; */
}

.nav-items:hover,
.nav-btn:hover {
  color: yellow;
  border-bottom-color: yellow;
}

.nav-btn {
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding-bottom: 1rem;
  border-bottom: solid 2px transparent;
  transition: 0.3s linear;
}

.cart-lists {
  margin-bottom: 2rem;
}

.cart-count {
  margin-left: 1rem;
}
